<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!--
      Configuration of parameters for creating the dialog
    -->
    <add key="cardreader" value="Reader0" />
    <add key="productId" value="0035" />
    <add key="productVersion" value="WCF 3.5"/>
    <add key="testPin" value="1111" />

    <!--
      Configuration of parameters for all tests
    -->
    <add key="All_SVNummer" value="1898081154" />
    <add key="All_Vorname" value="Hugo" />
    <add key="All_Zuname" value="Boss" />
    <add key="All_Geschlecht" value="m" />
    <add key="All_ZipFilePath" value="E:\testsend.zip" />
    <add key="All_ZipFilePathSave" value="E:\testsaved.zip" />

    <!--
      Configuration of parameters for Abs-Service calls
    -->
    <add key="Abs_SVT" value="11" />
    <add key="Abs_Begruendung" value="krank" />
    <add key="Abs_Diagnose" value="schnupfen" />
    <add key="Abs_Dosierung" value="1-1-1" />
    <add key="Abs_Langzeitverordnung" value="" />
    <add key="Abs_MagistraleZubereitung" value="" />
    <add key="Abs_Medikament_Name" value="Aspirin" />
    <add key="Abs_Medikament_Pharmanummer" value="" />
    <add key="Abs_Packungsanzahl" value="1" />
    <add key="Abs_Verordnungsinformation" value="" />

    <!--
      Configuration of parameters for UZE-calls
    -->
    <add key="Uze_UzeCode" value="XYWWX" />
    <add key="Uze_UzeId" value="27605"  />
    <add key="Uze_UzeVersion" value="1" />
    <add key="Uze_SVT" value="" />
    <add key="Uze_AdministrativeVermerke" value="Test" />
    <add key="Uze_AdressePlz" value="1020" />
    <add key="Uze_AdresseLand" value="AT" />
    <add key="Uze_AdresseOrt" value="Wien" />
    <add key="Uze_AdresseStrasse" value="Ernst-Melchior Gasse" />
    <add key="Uze_AnspruchId" value="1" />
    <add key="Uze_BehandlungsKontext" value="KU" />
    <add key="Uze_BewilligungsPflicht" value="0" />
    <add key="Uze_Dringend" value="false" />
    <add key="Uze_EmailLa" value="test@test.com" />
    <add key="Uze_FachAbtLe" value="" />
    <add key="Uze_FachgebietLe" value="01" />
    <add key="Uze_Tel" value="123" />
    <add key="Uze_TitelHinten" value="Dr." />
    <add key="Uze_TitelVorne" value="Mr." />
    <add key="Uze_KblKz" value="true" />
    <add key="Uze_AkutTherapie" value="" />
    <add key="Uze_AllergieMuInfo" value="" />
    <add key="Uze_Antikoaguliert" value="" />
    <add key="Uze_GewuenschteLeistung" value="Krank" />
    <add key="Uze_Medikation" value="Keine" />
    <add key="Uze_NotizLa" value="" />
    <add key="Uze_SymptomBeschreibung" value="Schlecht" />
    <add key="Uze_VerdachtsDiagnose" value="Krank?" />
    <add key="Uze_Vorgeschichte" value="Hypochonder" />
    <add key="Uze_WesentlicheNebenDiagnosen" value="Schlimm" />
    <add key="Uze_OrdinationsIdLe" value="" />
    <add key="Uze_OrdinationszeitenLa" value="8-14Uhr" />
    <add key="Uze_PatientenVerfuegung" value="nix" />
    <add key="Uze_TelefonLa" value="984753947" />
    <add key="Uze_TelefonPatient" value="" />
    <add key="Uze_WeisungsTyp" value="UW" />
    <add key="Uze_" value="" />
    <add key="Uze_" value="" />
    <add key="Uze_" value="" />
    <add key="Uze_" value="" />
  </appSettings>

  <!--
    WCF Service configuration
    -) Custom binding element extension registered for Soap-with-Attachments
    -) Recommendation: use separate endpoint configurations for functions on the same proxy
                       that rely on SWA and that do not rely on SWA so that if you don't need
                       SWA you can use the default-WCF-encoders
  -->
  <system.serviceModel>
    <!--
      WCF Extensions configuration section
    -->
    <extensions>
      <!--
        SOAP-With-Attachments custom encoder with custom mime parsing sample
        You need to perform this configuration manually after you have added a 
        Service Reference with Visual Studio or svcutil.exe from the .NET Framework SDK!
      -->
      <bindingElementExtensions>
        <add name="swaMessageEncoding"
             type="Microsoft.Austria.WcfHelpers.SoapWithAttachments.SwaMessageEncodingElement, Microsoft.Austria.WcfHelpers.SoapWithAttachments" />
      </bindingElementExtensions>
    </extensions>

    <!--
      WCF Binding Configuration Sections for Channel, Protocol, Serialization and Encoding configurations
    -->
    <bindings>
      <!--
        Standard binding configurations generated by "Add Service Reference"
      -->
      <basicHttpBinding>
        <binding name="StandardBindingConfiguration" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <!--
        HTTP-based binding configuration with the Soap-With-Attachments 
        custom message encoding configured. You need to perform this configuration
        manually after you have added a Service Reference with Visual Studio or
        svcutil.exe from the .NET Framework SDK!
      -->
      <customBinding>
        <binding name="SwaBindingConfiguration">
          <swaMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport maxReceivedMessageSize="62914560" authenticationScheme="Anonymous"
            maxBufferSize="62914560" proxyAuthenticationScheme="Anonymous"
            useDefaultWebProxy="true">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>

    <!--
      WCF Client Proxy Configuration Section
    -->
    <client>
      <!--
        Standard endpoint configurations using default bindings from WCF.
        Use these endpoints for all client proxies, that do not plan to use Soap-With-Attachments
        so that you rely on the out-of-the-box bindings, channels, encoders etc. of WCF which
        are much more performant.
      -->
      <endpoint address="http://192.168.30.56/axis/services/soap_base_7.0"
        binding="basicHttpBinding" bindingConfiguration="StandardBindingConfiguration"
        contract="AbsCompleteTest.GinaBase7.IBaseServiceVP" name="BaseServiceEndPoint" />
      <endpoint address="http://192.168.30.56/axis/services/soap_abs_7.0"
        binding="basicHttpBinding" bindingConfiguration="StandardBindingConfiguration"
        contract="AbsCompleteTest.GinaAbs7.IAbsService" name="BasicAbsEndPoint" />
      <endpoint address="http://192.168.30.56/axis/services/soap_uze_2.0"
        binding="basicHttpBinding" bindingConfiguration="StandardBindingConfiguration"
        contract="AbsCompleteTest.GinaUze2.IUzeService" name="BasicUzeEndPoint" />

      <!--
        Custom endpoint configurations using our custom binding for Soap-With-Attachments.
        Use these endpoints for proxies where you plan to use functions of the proxies that
        rely on Soap-With-Attachments so that for these our custom message encoder will be used.
        Note that you need to add these endpoint configurations manually after you have created
        your proxy classes and configuration either with Visual Studio "Add Service Reference"
        or with the svcutil.exe .NET Framework SDK tool.
      -->
      <endpoint address="http://192.168.30.56/axis/services/soap_abs_7.0"
        binding="customBinding" bindingConfiguration="SwaBindingConfiguration"
        contract="AbsCompleteTest.GinaAbs7.IAbsService" name="SwaAbsEndPoint" />
      <endpoint address="http://192.168.30.56/axis/services/soap_uze_2.0"
        binding="customBinding" bindingConfiguration="SwaBindingConfiguration"
        contract="AbsCompleteTest.GinaUze2.IUzeService" name="SwaUzeEndPoint" />
    </client>
  </system.serviceModel>
</configuration>